In [1]:
dataset = [
    ['French Fry', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
    ['French Fry', 'Apple', 'Cheese', 'Cola'],
    ['French Fry', 'Unicorn', 'Corn', 'Cheese', 'Noodles'],
    ['Dill', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
    ['French Fry', 'Apple', 'Cheese', 'Cola'],
    ['Dill', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
    ['French Fry', 'Apple', 'Cheese', 'Cola'],
    ['French Fry', 'Unicorn', 'Corn', 'Cheese', 'Noodles'],
    ['Dill', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
    ['French Fry', 'Apple', 'Cheese', 'Cola'],
    ['Corn', 'Burger', 'Burger', 'Cheese', 'Ice cream', 'Cola']
]

dataset

[['French Fry', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
 ['French Fry', 'Apple', 'Cheese', 'Cola'],
 ['French Fry', 'Unicorn', 'Corn', 'Cheese', 'Noodles'],
 ['Dill', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
 ['French Fry', 'Apple', 'Cheese', 'Cola'],
 ['Dill', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
 ['French Fry', 'Apple', 'Cheese', 'Cola'],
 ['French Fry', 'Unicorn', 'Corn', 'Cheese', 'Noodles'],
 ['Dill', 'Burger', 'Nutmeg', 'Cheese', 'Cola', 'Noodles'],
 ['French Fry', 'Apple', 'Cheese', 'Cola'],
 ['Corn', 'Burger', 'Burger', 'Cheese', 'Ice cream', 'Cola']]

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

In [7]:
df = pd.DataFrame(te_ary,columns=te.columns_)
df

,Apple,Burger,Cheese,Cola,Corn,Dill,French Fry,Ice cream,Noodles,Nutmeg,Unicorn
0,False,True,True,True,False,False,True,False,True,True,False
1,True,False,True,True,False,False,True,False,False,False,False
2,False,False,True,False,True,False,True,False,True,False,True
3,False,True,True,True,False,True,False,False,True,True,False
4,True,False,True,True,False,False,True,False,False,False,False
5,False,True,True,True,False,True,False,False,True,True,False
6,True,False,True,True,False,False,True,False,False,False,False
7,False,False,True,False,True,False,True,False,True,False,True
8,False,True,True,True,False,True,False,False,True,True,False
9,True,False,True,True,False,False,True,False,False,False,False
10,False,True,True,True,True,False,False,True,False,False,False

In [8]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support              itemsets
0  1.000000              (Cheese)
1  0.818182                (Cola)
2  0.636364          (French Fry)
3  0.818182        (Cola, Cheese)
4  0.636364  (French Fry, Cheese)

In [9]:
from mlxtend.frequent_patterns import association_rules
res=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cola),(Cheese),0.818182,1.000000,0.818182,1.000000,1.0,0.0,inf
1,(Cheese),(Cola),1.000000,0.818182,0.818182,0.818182,1.0,0.0,1.0
2,(French Fry),(Cheese),0.636364,1.000000,0.636364,1.000000,1.0,0.0,inf

In [10]:
res1=res[['antecedents','consequents','support','confidence','lift']]
res1

    antecedents consequents   support  confidence  lift
0        (Cola)    (Cheese)  0.818182    1.000000   1.0
1      (Cheese)      (Cola)  0.818182    0.818182   1.0
2  (French Fry)    (Cheese)  0.636364    1.000000   1.0

In [11]:
res2=res1[res1['confidence']>=1]
res2

    antecedents consequents   support  confidence  lift
0        (Cola)    (Cheese)  0.818182         1.0   1.0
2  (French Fry)    (Cheese)  0.636364         1.0   1.0